
/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ROOT */

:root{
    --main-color:#0084FD;
    --background-color1: #B5DDFF;
    --background-color2: #9792E4;

}

/* HEADER */

header{
    position: fixed;
    background-color: var(--main-color);
    width: 100%;
    padding: 0 5%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-nav{
    display: none;
}


/* MAIN */

.firs-container{
    padding-top: 4em;
    display: flex;
    flex-wrap: wrap;
}

.my-column{
    background-color: var(--background-color1);
    width: 100%;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 6%;
    
}

.my-column>i{
    color: var(--main-color);
    font-size: 5em;
}

.phone>img{
    width: 16em
}

/* section2 */

.second-container{
    background-color: var(--background-color2);
    padding-top: 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.big-img{
    padding: 3em;
}

.idea{
    width: 80%;
    background-color: white;
    border-radius: 1em;

}
 
.big-img>img{
    width: 90%;
}
.idea>img{
    width: 16em
}

/* SECTIOON3 */

.third-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonial{
    background-color: var(--background-color2);
    width: 90%;
    padding: 2em 0.5em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 2em;
    
}
.testimonial>img{
    border-radius: 50%;
    width:15em;
    height: 15em;
    object-fit: cover;
}

/* section 4 */

.fourth-container{
    background-color: var(--background-color2);
    display: flex;
    flex-wrap: wrap;
}

.fourth-container>.my-column{
    background-color: white;
    width: 80%;
}

.fourth-container>h2{
     width: 100%;
    text-align: center;
}


.fifth-container{
    display: flex;
    flex-wrap: wrap;
}

.about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10%;
}
.about-us>img{
    position: relative;
    border-radius: 50%;
    width:15em;
    height: 15em;
    object-fit: cover;
    right: 3.5em;
}

.about-us>i{
    position: relative;
    font-size: 3em;
    color: var(--background-color2);
    bottom: 5em;
    left: 0.3em;
}

/* FOOTER */

.purple-footer{
    background-color:var(--background-color2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purple-footer>h6{
    font-weight: lighter;
}

.black-footer{
    background-color: grey;
    text-align: center;
    color: white;
}

/* TABLET */

@media screen  and (min-width:768px) {
    

 .firs-container{
   justify-content: space-between;
   padding-left: 4%;
   padding-right: 4%;
}

.my-column {
    width: calc( ( 100% / 3 ) - 6%);
    margin: 1%;
}

.my-column:first-child{
    width: calc((100% / 3) * 2 - 4%) ;
    flex-direction: row;
   
}

.phone>img{
    width: 20em
}

.idea{
    width: 90%;
   

}

.testimonial{
    flex-direction: row;
}

.fourth-container{
    justify-content: space-between;
    padding: 2em 6%;
}

.fourth-container>.my-column{
    width: calc((100% / 2) - 10%);
    margin: 2% 0;
}

.fifth-container{
    padding: 2em;
}
.fifth-container>div{
    width: 50%;
}

.about-us{
    padding: 0 0 0 20%;
}

.purple-footer{
    padding: 2em 20%;
}

.black-footer{
    padding: 2em 20%;;
}

}





/* DESKTOP */

@media screen  and (min-width:992px) {
    
    /* header */

    
    .hamburger{
        display: none;
    }

    .link-nav{
        display: flex;
    }

    .firs-container{
    padding: 5em 20%;
    }
    .second-container{
        padding: 0 20%;
        flex-wrap: nowrap;
        align-items: flex-end;
    }


    .fourth-container{
        padding: 0 5%;
    }



    .fourth-container>.my-column{
        width: calc((100% / 3) - 3%);
        margin: 1%;
}

    .fifth-container{
        padding: 3em 15%;
    }

    .purple-footer{
        padding: 2em 35%;
    }

    .black-footer{
        padding: 2em 35%;;
    }
}